flows.json
[{"id":"27f0179.bde09e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b24c858f.f14888","type":"ui_tab","z":"","name":"CUSTOMER HELP DESK","icon":"dashboard","disabled":true,"hidden":false},{"id":"335ee5d7.60ccba","type":"ui_group","z":"","name":"SOLUTION","tab":"b24c858f.f14888","order":1,"disp":true,"width":"15","collapse":false},{"id":"6efccb9d.694df4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#cd3401","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#cd3401","edited":true},"page-titlebar-backgroundColor":{"value":"#cd3401","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#fe551d","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#cd3401","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8a77471.7bd35","type":"ui_form","z":"27f0179.bde09e8","name":"","label":"","group":"335ee5d7.60ccba","order":0,"width":0,"height":0,"options":[{"label":"enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["5c08a2b4.4569fc"]]},{"id":"5c08a2b4.4569fc","type":"function","z":"27f0179.bde09e8","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["7dfd93f8.497d74","c7aae026.890bb8"]]},{"id":"7dfd93f8.497d74","type":"ui_text","z":"27f0179.bde09e8","group":"335ee5d7.60ccba","order":1,"width":"2","height":"2","name":"","label":"input","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":320,"wires":[]},{"id":"c7aae026.890bb8","type":"watson-conversation-v1","z":"27f0179.bde09e8","name":"Assistant","workspaceid":"9bc4577e-feb4-4aab-89e4-acd85ccc7287","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7d08bffa-aa11-4523-a69b-4f69eb612bc4","timeout":"","optout-learning":false,"x":420,"y":120,"wires":[["3e4ff0b4.0233d","62c75ef3.beb51"]]},{"id":"3e4ff0b4.0233d","type":"function","z":"27f0179.bde09e8","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["fb50d172.acf9a"]]},{"id":"62c75ef3.beb51","type":"debug","z":"27f0179.bde09e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":40,"wires":[]},{"id":"fb50d172.acf9a","type":"ui_text","z":"27f0179.bde09e8","group":"335ee5d7.60ccba","order":2,"width":"15","height":"10","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":200,"wires":[]}]